/* CSS reset */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;}
body {line-height:1;font-size:14px;word-wrap:break-word;font-family: courier, "Consolas";}
:focus {outline: 1;}
article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary {display:block;}
nav ul {list-style:none;}
blockquote, q {quotes:none;}
blockquote:before, blockquote:after,q:before, q:after {content:'';content:none;}
a {margin:0;padding:0;border:0;font-size:100%;vertical-align:baseline;background:transparent;}
ins {background-color:#ff9;color:#000;text-decoration:none;}
mark {background-color:#ff9;color:#000;font-style:italic;font-weight:bold;}
del {text-decoration: line-through;}
abbr[title], dfn[title] {border-bottom:1px dotted #000;cursor:help;}
table {border-collapse:collapse;border-spacing:0;}
hr {display:block;height:1px;border:0;border-top:1px solid #cccccc;margin:1em 0;padding:0;}
input, select {vertical-align:middle;}
/* CSS page */
.header {width:100%;height:120px;background-color:#3E3E3E;text-align:center;}
.header-cont {width:960px;height:120px;margin:0 auto;}
.header-cont .header-logo {text-align:lefe;width:208px;height:63px;}
.header-cont .header-nav {width:600px;margin-left:200px;margin-top:20px;}
.header-cont .header-nav li {float:left;height:30px;line-height:30px;width:120px;text-align:center;}
.header-cont .header-nav a {display:inline-block;width:100%;text-decoration:none;color:#FFFFFF;text-shadow: 1px 1px 2px #EFEFEF;}
.header-cont .header-nav a:hover {background-color:#CCC;border-radius:5px;text-decoration:none;color:#333;}

.main {background-color:#EFEFEF;}
.main-cont {width:960px;height:auto;margin:0 auto;}
.main-cont h2 {height:40px;padding:20px 50px 5px;font-size:20px;color:#3D3D3D;font-weight:normal;}
.main-cont .main-profile {padding:0 65px;}
.main-cont .main-item {padding: 20px 65px;}
.main-cont .main-profile p,.main-cont .main-item p{line-height:30px;color:#666666;}
#chart_container,#chart_container1, #chart_container2, #chart_container3, #chart_container4 {border:1px dotted #999;background-color:#FFF;}

/* SVG DEMO Page */




